.main__footer {
    width: 100%;
    padding: 20px 0px;
    background: var(--dark-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__a {
    color: var(--white);
    font-size: 30px;
}